*{
    margin: 0;
    box-sizing: border-box;
  }


  body{
    display: grid;
    justify-items: center;
    font-family: 'Montserrat',sans-serif;
  }
a{
  text-decoration: none;
  color: var(--linkColor);
}